.blogitem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    
    
    
}
.img{
    width: 260px;;
    height: 150px;
    
}
.btnblog{
    margin: 5px;
}